<!--{{resultadoPeliculas[0].Search[0].Title}}-->
<div class="container" >
  <h2 class="text-center display-4 mt-5">Has buscado : {{tituloBuscar}}</h2>
  <div class="row" *ngIf="resultado">
    <div class="col-12 col-md-4 col-lg-3 mb-3" *ngFor="let pelicula of resultadoPeliculas">
      <div class="card text">
        <img class="card-img-top img-fluid" src="{{pelicula.Poster}}" alt="{{pelicula.Title}}">
        <div class="card-body">
          <h5 class="card-title">{{pelicula.Title}}</h5>
          <hr>
          <p class="card-text"><small class="text-muted">{{pelicula.Year}}</small></p>
        </div>
        <div class="ml-auto mr-auto mb-2">
          <button type="button" class="btn btn-primary align-item-end" (click)=masInfo(pelicula.Title)>
            Ver más
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 text-center" *ngIf="!resultado">
    <h5>pelicula no encontrada</h5>
  </div>
</div>
